<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script>

        let userId = (new URL(document.location)).searchParams.get("userId");
        let username = "";
        let numNum = 0;
        async function initCount() {
            let url = "https://azurefullstackmark.azurewebsites.net/users?userId=" + userId;
            //let url = "https://localhost:8080/users?userId=" + userId;
            let response = await fetch(url, {
                method: 'GET'
            });
            var text = await response.json();
            numNum = text.count
            document.querySelector("#count").textContent = numNum;
            username = text.username;
            document.querySelector("#welcome").textContent = "Welcome, " + username;
        }
        
        function subtract() {
            numNum = numNum - 1;
            // let oldNum = document.querySelector("#count").textContent;
            document.querySelector("#count").textContent = numNum;
        }

        function add() {
            numNum = numNum + 1;
            // let oldNum = document.querySelector("#count").textContent;
            document.querySelector("#count").textContent = numNum;
        }

        async function save() {
            let saveUrl = "https://azurefullstackmark.azurewebsites.net/users/update";
            //let saveUrl = "https://localhost:8080/users/update";
            // numCount = document.querySelector("#count").value;
            numId = userId;
            let updatedUser = {
                userId: userId,
                username: username,
                count: numNum
            }
            let response = await fetch(saveUrl, {
                method: 'POST',
                headers: {
                        'Content-Type': 'application/json;charset=utf-8'
                },
                body: JSON.stringify(updatedUser)
            });
            let text = await response.text();
            if (!text) {
                alert("error occurred");
            } else {
                alert("Count saved!");
                console.log("saved count to database");
            }
        }

        function logout() {
            window.location.href = "index.html";
        }
        initCount();
    </script>

    <h1 id="welcome"></h1>
    <br />
    <br />
    <button id="minus" onclick="subtract()">-</button>
    <h3 id="count"></h3>
    <button id="plus" onclick="add()">+</button>

    <br />
    <br />
    <button id="save" onclick="save()">Save</button>


    <br />
    <br />
    <hr />
    <br />
    <br />
    <button id="logout" onclick="logout()">Logout</button>
    
</body>
</html>